<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - BoyaEstates</title>

    <link rel="stylesheet" href="~/css/bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/fixed.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body data-spy="scroll" data-target="#navbarRsesponsive">
    <header>
        <!-- Home section (Start) -->
        <div id="home">
            <!-- Navigation (Start)-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#"><img src="img/logo2.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#course">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>

                            <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                                <a class="nav-link text-dark" href="#resouces">Resources</a>
                                <a class="nav-link text-dark" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#clients">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">Contacts</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Navigation (End)-->
            <!-- Landing Page section (Start)-->
            <div class="landing">
                <div class="home-wrap">
                    <div class="home-inner">

                    </div>

                </div>

            </div>

            <div class="caption text-center">
                <h1>Welcome to Boya Estates ltd</h1>
                <h3>Feel free to explore carefully selected estates.</h3>
                <a class="btn btn-outline-light btn-lg" href="#course">Go to Course</a>
            </div>

            <!-- Landing Page section (End)-->
        </div>
        <!-- Home section (End) -->
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BoyaEstates.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
